# Jupyter Notebook
.ipynb_checkpoints

.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.log
*.bin

# C extensions
*.so

Model/v3/__pycache__/**
Data/**
Logs/**

#TradeStation95/**
TradeStation95/Backups
*.ELD
*.EL
*.mht

tmp_saved_git
*.ipynb_moved

**/BOStool/**

Research/Notebooks/Diagrams/*.svg
bin/tmp/*
Archive/**
JobControl/**
~*
*.swp
tmp.out
